{% for budget in budgets %}

        <tr>
            <td>{{ budget.pk }}</td>
            <td><a href="{% url 'budget_budget_details' budget.id %}">{{ budget.name }}</a></td>
            <td>{{ budget.value }}</td>
            <td>
                <button class="waves-effect btn-flat right js-delete-budget" type="button" data-url="{% url 'budget_delete_budget' budget.id %}">
                    <i class="material-icons center">delete</i>
                </button>
                <button class="waves-effect btn-flat right js-update-budget" type="button" data-url="{% url 'budget_update_budget' budget.id %}">
                    <i class="material-icons center">edit</i>
                </button>
            </td>
        </tr>

{% endfor %}
